@-webkit-keyframes point-before {
  0%   { 
    border: 1px solid $red; 
    opacity: 0;
  }
  100% { 
    border: 3px solid $red; 
    opacity: 1;
  }
}
@-moz-keyframes point-before {
  0%   { 
    border: 1px solid $red; 
    opacity: 0;
  }
  100% { 
    border: 3px solid $red; 
    opacity: 1;
  }
}
@-o-keyframes point-before {
  0%   { 
    border: 1px solid $red; 
    opacity: 0;
  }
  100% { 
    border: 3px solid $red; 
    opacity: 1;
  }
}
@keyframes point-before {
  0%   { 
    border: 1px solid $red; 
    opacity: 0;
  }
  100% { 
    border: 3px solid $red; 
    opacity: 1;
  }
}

@-webkit-keyframes point-after {
  0%   { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}
@-moz-keyframes point-after {
  0%   { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}
@-o-keyframes point-after {
  0%   { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}
@keyframes point-after {
  0%   { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}