.flipster {
  &--carousel {
    &__item {
      list-style: none;
    }
  }
  &__button {
    &--prev, &--next {
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 3em;
      color: $red;
      margin: 0;
      transform: translateY(-50%);
      &::before {
      }
    }
    &--prev {
      &::before {
        content: "\e905";
      }
    }
    &--next {
      &::before {
        content: "\e906";
      }
    }
    svg {
      display: none;
      visibility: hidden;
    }
    &:hover {
      background-color: transparent;
    }
  }
}