@font-face { 
	font-family: "Toyota Display Bold";
	src: url("../fonts/toyotadisplay_bd-webfont.woff") format("woff"),
			 url("../fonts/toyotadisplay_bd-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face { 
  font-family: "Toyota Display Heavy";
  src: url("../fonts/toyotadisplay_he-webfont.woff") format("woff"),
       url("../fonts/toyotadisplay_he-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: "Toyota Display Regular";
  src: url("../fonts/toyotadisplay_rg-webfont.woff") format("woff"),
       url("../fonts/toyotadisplay_rg-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}