.wrapper-contact {
  position: absolute;
  bottom: 30px;
  right: 50px;
  z-index: 6;
  transition: all .3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .whatsapp-cta {
    float: right;
    a {
      display: flex;
      align-items: center;
    }
    .inner {

    }
    img {
      width: 40px;
      position: relative;
      z-index: 1;
    }
    span {
      background: red;
      color: white;
      padding: 5px 18px;
      border-radius: 0 15px 15px 0;
      margin-left: -13px;
      font-size: 15px;
      width: 142px;
      line-height: 14px;
    }
  }
}