#register-form {
  width: 320px;
}
.group-field {
  text-align: center;
  margin-bottom: 15px;
  width: 320px;
  &.checkbox {
    span {
      display: inline-block;
      vertical-align: top;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.message-alert {
  font-size: 1.5rem;
  color: darken($red, 5%);
  opacity: 0;
  transition: all .3s ease-in-out;
  text-align: center;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
label {
  display: block;
  font-weight: normal;
}
input[type="text"], select {
  border: 2px solid $red;
  border-radius: 30px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  padding: 2px 15px;
}
select {
  background-image: url('../images/down-arrow.svg');
  background-size: 13px;
  background-position: 95% 8px;
  background-repeat: no-repeat;
}

input[type="submit"], button, .button {
  background-color: $red;
  color: $white;
  padding: 6px 50px;
  border: 0;
  border-radius: 30px;
  transition: all .3s ease-in-out;
  outline: none;
  &:hover {
    background-color: darken($red, 10%);
  }
}