.wrapper-header {
  padding: 25px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  #menu-icon {
    position: absolute;
    top: 2px;
    left: 15px;
    width: 33px;
    opacity: 0;
    visibility: hidden;
    &.show {
      opacity: 1;
      visibility: visible;
    }
    .nav-icon {
      cursor: pointer;
      &::after, &::before, div {
        background-color: $gray;
        border-radius: 3px;
        content: '';
        display: block;
        height: 4px;
        margin: 5px 0;
        transition: all .2s ease-in-out;
      }
    }
    span {
      font-size: 12px;
      position: absolute;
      border: 0;
      text-align: center;
      left: 0;
      right: 0;
      color: $gray;
    }
    &.active {
      .nav-icon {
        &::before {
          background-color: $white;
          transform: translateY(7px) rotate(135deg);
        }
        &::after {
          background-color: $white;
          transform: translateY(-11px) rotate(-135deg);
        }
        div {
          background-color: $white;
          transform: scale(0);
        }
      }
      span {
        color: $white;
      }
    }
  }

  .logo {
    margin: 3px 0 0 70px;
    display: inline-block;
    position: relative;
    width: 187px;
    height: 35px;
    .image-logo {
      opacity: 1;
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      img {
        width: 187px;
      }
      &.inactive {
        opacity: 0;
        visibility: hidden;
      }
    }
    .icon-logo {
      font-size: 32px;
      color: $red;
      transition: all .2s ease-in-out;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 2px;
      left: 3px;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  #sound {
    top: 10px;
    position: absolute;
    right: 240px;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    line-height: 13px;
    cursor: pointer;
    &.show {
      opacity: 1;
      visibility: visible;
    }
    .volume {
      display: block;
      width: 30px;
      margin: 0 10px;
      color: $red;
      transition: all .2s ease-in-out;
    }
    span {
      font-size: 14px;
      color: $red;
    }
  }
  .social-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 15px;
    li {
      display: inline-block;
      vertical-align: top;
      a {
        display: block;
        width: 30px;
        margin: 0 10px;
        color: $red;
        transition: all .2s ease-in-out;
      }
    }
  }
  &.menu-active {
    .logo {
      a {
        color: $white;
      }
    }
    .social-menu {
      li {
        a {
          color: $white;
        }
      }
    }
  }
}

.wrapper-menu {
  padding-left: 120px;
  width: 100%;
  background-color: $red;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  .menu {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      vertical-align: top;
      margin-bottom: 3rem;
      a {
        color: $white;
        font-family: $font-bold;
        font-size: 3rem;
        text-transform: uppercase;
      }
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}