.uppercase {
	text-transform: uppercase;
}
.container {
  position: relative;
  &.inner {
    padding-left: 80px;
    @include bp-md(max) {
      padding-left: 15px;
    }
  }
}
.container-full {
  position: relative;
  width: 100%;
}
.centering {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.point {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;
  &::before {
    content: '';
    border: 3px solid $red;
    position: absolute;
    top: -6px;
    left: -6px;
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
    -webkit-animation: point-before .8s linear infinite;
    -moz-animation: point-before .8s linear infinite;
    -o-animation: point-before .8s linear infinite;
    animation: point-before .8s linear infinite;
  }
  &::after {
    content: '';
    border: 1px solid $red;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    -webkit-animation: point-after .7s linear infinite;
    -moz-animation: point-after .7s linear infinite;
    -o-animation: point-after .7s linear infinite;
    animation: point-after .7s linear infinite;
  }
  &.general {
    top: 133px;
    left: 225px;
  }
  span {
    font-size: 12px;
    position: absolute;
    width: 100px;
    color: $white;
    top: -30px;
    left: -21px;
    text-shadow: 0px 0px 6px $red;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    span {
      opacity: 1;
      visibility: visible;
    }
  }
}