@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?bl3m7i');
  src:  url('../fonts/icomoon.eot?bl3m7i#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?bl3m7i') format('truetype'),
    url('../fonts/icomoon.woff?bl3m7i') format('woff'),
    url('../fonts/icomoon.svg?bl3m7i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-volume-active:before {
  content: "\e900";
}
.icon-volume-inactive:before {
  content: "\e901";
}
.icon-logo:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
