.wrapper-lightbox {
  width: 758px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 6;
  transition: all .3s ease-in-out;
  visibility: hidden;
  opacity: 0;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  .close-lightbox {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 35px;
    cursor: pointer;
  }
  .content {
    border: 2px solid $red;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(#CECECE, 0.9);
    .image {
      img {
        margin: 0 auto;
      }
    }
    .title {
      font-family: $font-bold;
      color: $red;
      font-size: 3rem;
      margin-top: 0;
    }
    .description {
      font-size: 16px;
    }
  }
}