#wrapper-site {
  background-size: cover;
  height: 100vh;
  background-position: center;
  &.bg-one {
    background-image: url('../images/bg-one.png');
  }
  &.bg-two {
    background-image: url('../images/bg-two.png');
  }
}

// Dots
.wrapper-dots {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
  width: 1170px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 40px;
    li {
      width: 10px;
      height: 10px;
      background-color: lighten($gray, 20%);
      border-radius: 50%;
      margin: 40px 15px;
      transition: all .3s ease-in-out;
      margin: 40px auto;
      &.active {
        background-color: $red;
        width: 13px;
        height: 13px;
      }
    }
  }
}

// Sections
.wrapper-main {
  position: relative;
  z-index: 3;
  height: 100vh;
}
.section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  backface-visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &.first-section {
    .main-title {
      color: $red;
      text-transform: uppercase;
      font-family: $font-bold;
      font-size: 6rem;
      line-height: 8rem;
      @include bp-lg(max) {
        font-size: 5rem;
        line-height: 6rem;
      }
    }
    #start {
      display: inline-block;
      vertical-align: top;
      margin: 0 30px;
      font-size: 4rem;
      cursor: pointer;
      i {
        text-shadow: 0px 0px 6px $red;
      }
    }
  }
  &.second-section {

  }
  &.third-section {
    .second-title {
      font-family: $font-bold;
      text-align: center;
      color: $red;
      text-transform: uppercase;
    }
    .wrapper-genres {
      .genre-item {
        .title {
          color: $white;
          text-transform: uppercase;
          text-align: center;
          text-shadow: -1px -1px 0 $red, 1px -1px 0 $red, -1px 1px 0 $red, 1px 1px 0 $red;
          font-size: 2.8rem;
          height: 60px;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .image {
          background-image: url('../images/bg-genre.png');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
  &.fourth-section {
    #flipster-cars {
      img {
        width: 350px;
        @include bp-xl(max) {
          width: 300px;
        }
      }
    }
    .flipster {
      &--carousel {
        .flipster__item {
          .select-cart {
            background-color: $red;
            color: $white;
            padding: 6px 50px;
            border: 0;
            border-radius: 30px;
            transition: all .3s ease-in-out;
            outline: none;
            text-align: center;
            margin: 20px auto;
            width: 200px;
            opacity: 0;
            cursor: pointer;
          }
          &--current {
            .select-cart {
              opacity: 1;
            }
          }     
        }
      }
    }
  }
  &.fifth-section, &.sixth-section, &.seventh-section, &.eighth-section, &.nineth-section, &.tenth-section, &.eleventh-section {
    .carousel-car {
      width: 786px;
      margin: 0 auto;
      &.slick-slider {
        .slick-arrow {
          font-size: 3.5rem;
          &.slick-prev {
            left: 30%;
          }
          &.slick-next {
            right: 30%;
          }
        }
      }
      .item {
        position: relative;
        padding: 50px 0;
        height: 565px;
        .caption {
          position: absolute;
          bottom: 20px;
          left: 0;
          right: 0;
          text-align: center;
          font-size: 3rem;
          color: $red;
          font-family: $font-bold;
          text-transform: uppercase;
        }
      }
      .cloudimage-360 {
        background-image: url('../images/background-360.svg');
        background-repeat: no-repeat;
        background-position: center 85%;
      }
      .cloudimage-360, .car-details {
        margin: 0 auto;
        width: 610px !important;
      }
      .colors-cars {
        img {
          margin: 0 auto;
          width: 610px;
        }
        .colors-selector {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 100px;
          .color {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 20px 8px;
            cursor: pointer;
            position: relative;
            display: inline-block;
            vertical-align: top;
            &.active {
              &::before {
                border: 3px solid $red;
                top: -5px;
                left: -5px;
                width: 40px;
                height: 40px;
              }
            }
            &::before {
              content: '';
              border: 1px solid $red;
              width: 38px;
              height: 38px;
              border-radius: 50%;
              top: -4px;
              position: absolute;
              left: -4px;
            }
            &.azul-oscuro-mica {
              background-color: $dark-blue-mica;
            }
            &.gris-metalico {
              background-color: $gray-metallic;
            }
            &.gris-metalico-oscuro {
              background-color: #272F31;
            }
            &.negro-mica {
              background-color: $black-mica;
            }
            &.plata-metalico {
              background-color: #7D888D;
            }
            &.rojo-mica {
              background-color: $red-mica;
            }
            &.super-blanco {
              background-color: $super-white;
            }
            &.blanco-perlado {
              background-color: #B9C4C6;
            }
            &.gris-celeste {
              background-color: #7C8994;
            }
            &.marron-metalico {
              background-color: #584E44;
            }
            &.negro {
              background-color: #1C2119;
            }
            &.rojo-metalico {
              background-color: #6C000E;
            }

            &.cyan-metalico{
              background-color: #5693c2;
            }
            &.gris-mica{
              background-color: #373739;
            }

            &.bronce-metalico{
              background-color: #2b2824;
            }

            &.azul-nocturno{
              background-color: #1f273d;
            }

            &.cafe-perla{
              background-color: #150b07;
            }

            &.negro-metalico{
              background-color: #131313;
            }

            &.super-rojo{
              background-color: #ad0403;
            }

            &.gris-arena{
              background-color: #605c56;
            }
            &.azul-grisaceo{
              background-color: #324c5b;
            }

            

            


            

            
            
            

            
          }
        }
        .name-color {
          position: absolute;
          right: 0;
          bottom: 80px;
        }
      }
      .car-details {
        position: relative;
      }
      .menu-galleries-car {
        position: absolute;
        right: 0;
        bottom: 90px;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            color: $red;
            text-transform: uppercase;
            font-family: $font-bold;
            margin-bottom: 5px;
            cursor: pointer;
            &::before {
              content: '>';
              font-family: $font-regular;
              padding: 0 3px;
            }
          }
        }
      }
    }
  }
  &.fifth-section {
    .carousel-car {
      .car-details {
        .point {
          &.one {
            top: 49%;
            left: 21%;
          }
          &.two {
            top: 37%;
            left: 35%;
          }
          &.three {
            top: 27%;
            left: 81%;
          }
          &.four {
            top: 37%;
            left: 86%;
          }
          &.five {
            top: 50%;
            left: 86%;
          }
        }
      }
    }
  }
  &.sixth-section {
    .carousel-car {
      .car-details {
        .point {
          &.one {
            top: 51%;
            left: 23%;
          }
          &.two {
            top: 51%;
            left: 87%;
          }
          &.three {
            top: 20%;
            left: 67%;
          }
          &.four {
            top: 48%;
            left: 10%;
          }
          &.five {
            top: 64%;
            left: 18%;
          }
          &.six {
            top: 18%;
            left: 56%;
          }
          &.seven {
            top: 51%;
            left: 46%;
          }
        }
      }
    }
  }
  &.seventh-section {
    .carousel-car {
      .car-details {
        .point {
          &.one {
            top: 43%;
            left: 10%;
          }
          &.two {
            top: 39%;
            left: 87%;
          }
          &.three {
            top: 36%;
            left: 45%;
          }
        }
      }
    }
  }
}

.bottom-bar {
  position: absolute;
  bottom: 42px;
  left: 0;
  right: 0;
  z-index: 5;
  height: 23px;
  width: 1170px;
  margin: 0 auto;
  .back-details, .back-music, .back-cars {
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 15px;
    color: $white;
    text-transform: uppercase;
    font-family: $font-bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    i {
      padding: 0 5px 0 0;
      color: $red;
      font-size: 20px;
    }
  }
  .back-music, .back-cars {
    color: $red;
  }
  .title {
    color: $white;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 $red, 1px -1px 0 $red, -1px 1px 0 $red, 1px 1px 0 $red;
    font-size: 20px;
    margin: 0;
    text-align: center;
    letter-spacing: 4px;
  }
}

.wrapper-gallery-inside, .wrapper-gallery-outside {
  visibility: hidden;
  opacity: 0;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  .gallery {
    visibility: hidden;
    opacity: 0;
    &.active {
      visibility: visible;
      opacity: 1;
    }  
  }
}

.wrapper-gallery-inside {
  visibility: hidden;
  opacity: 0;
  .gallery {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    &.four-runner {
      background-image: url('../images/cars/4runner/interior/bg-board.jpg');
      background-size: cover;
      background-position: center;
      .point {
        &.one {
          bottom: 19%;
          left: 50%;
        }
        &.two {
          bottom: 12%;
          right: 24%;
        }
        &.three {
          bottom: 14%;
          right: 5%;
        }
        &.four {
          bottom: 23%;
          left: 54%;
        }
        &.five {
          bottom: 20%;
          left: 1%;
        }
        &.six {
          bottom: 46%;
          left: 49%;
        }
      }
    }
    &.corolla {
      background-image: url('../images/cars/corolla/interior/bg-board.jpg');
      background-size: cover;
      background-position: center;
      .point {
        &.one {
          top: 31%;
          left: 31%;
        }
        &.two {
          top: 38%;
          left: 41%;
        }
        &.three {
          top: 51%;
          left: 40%;
        }
        &.four {
          top: 36%;
          left: 25%;
        }
        &.five {
          bottom: 36%;
          left: 52%;
        }
        &.six {
          bottom: 19%;
          right: 21%;
        }
      }
    }
  }
}
.wrapper-gallery-outside {
  .gallery {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    .item {
      background-size: cover;
      background-position: center;
      height: 100vh;
      position: relative;
      .content {
        position: absolute;
        bottom: 60px;
        right: 30px;
        width: 680px;
        border: 1px solid $red;
        border-radius: 10px;
        padding: 20px;
        background-color: rgba(#CECECE, 0.9);
        .title {
          font-family: $font-bold;
          color: $red;
          font-size: 3rem;
          margin-top: 0;
        }
        .description {
          font-size: 16px;
        }
      }
    }
    .slick-arrow {
      top: 45%;
      &.slick-prev {
        left: 5%;
      }
      &.slick-next {
        right: 5%;
      }
    }
  }
}