.slick-slider {
	position: relative;
	display: block;
	.slick-arrow {
		border: 0;
		width: 40px;
		height: 40px;
		line-height: 0;
    font-size: 6rem;
    color: $red;
		position: absolute;
    outline: none;
    bottom: 0;
    cursor: pointer;
    z-index: 1;
		&.slick-prev {
			left: 20%;
		}
		&.slick-next {
			right: 20%;
		}
		&:focus {
			outline: none;
		}
		&.slick-disabled {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.slick-slide {
  outline: none
}