  * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

a, a:hover, a:focus {
  text-decoration: none;
  color: $red;
}

body {
	font-family: $font-regular;
	position: relative;
  font-size: 18px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 320px;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

strong {
	font-family: $font-bold;
	font-weight: normal
}