// Basic Colors
$black : #000000;
$white : #FFFFFF;
$gray: #828282;
$red : #EB0A1E;

$dark-blue-mica : #273F53;
$gray-metallic : #CFCED2;
$black-mica : #414141;
$silver-metallic : #D3D4D8;
$red-mica : #A0413F;
$super-white: #F3F3F3;

// Custom colors
$color_default: $white;

// Font
$font-bold : "Toyota Display Bold";
$font-heavy : "Toyota Display Heavy";
$font-regular : "Toyota Display Regular";
